<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>東急8500系</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="shortcut icon" href="../../asset/icon/favicon.ico" type="image/x-icon">
    <script src="../../js/main.js"></script>
</head>
<body>
    <header>
        <img src="https://kamekichi110.github.io/train-share/asset/icon/main.png" class="icon">
        <h2>
          Train-Share
          <br>
          鉄道情報掲載サイト
        </h2>
      </header>
      <article>
        <br>
        <section>
          <h3>東急8500系</h3>
          <img src="../img/tokyu8500.jpeg" alt="tokyu8500.jpeg" class="content">
          <p>@sirokuma_8110F</p>
        </section>
        <br>
        <main>
            <p>東急では、1969年（昭和44年）から<br>当時建設していた地下鉄<br>「新玉川線」<br>（現・田園都市線渋谷駅 - 二子玉川駅間）<br>向け車両として地下線火災対策基準<br>「A - A基準」を満たした8000系を<br>東横線に順次導入した。<br>

                その後、渋谷駅から都心方面に<br>直通運転を行う予定の<br>地下鉄半蔵門線への<br>乗り入れにあたって、<br>東急・帝都高速度交通営団（現・東京地下鉄）<br>共通の車両規格が作成された。<br>この規格に合致させるため、<br>路線識別用の赤帯の貼付、<br>機器取り扱いの変更、<br>および電動車比率の向上による<br>先頭車の電動車化などの<br>マイナーチェンジを図った本形式を<br>新玉川線・半蔵門線向けとして<br>1975年から導入することになった。<br>
                
                本系列は8000系の<br>マイナーチェンジ車両であるため、<br>登場時は8000系の一部として<br>扱われていたが、<br>その後増備が進むにつれて<br>8500系と呼ばれるようになった。<br>現在でも広義の8000系と<br>呼ばれるグループに含まれる。<br>1991年までに400両が導入され、<br>東急の系列として最大の<br>両数を占めていた。</p>
        </main>
        <br>
        <div class="footer">
          <p><p id="day"></p>
            <br>管理者X(旧Twitter)<a href="https://twitter.com/sirokuma_8110F">link</a>
            <br>各種ツール
            <br><a href="https://kamekichi110.github.io/train-share/view/train-info.html">列車情報ビューアー</a>
            <a href="https://kamekichi110.github.io/train-share/photo/index.html">思い出写真</a>
          <a href="https://kamekichi110.github.io/train-share/index.html">home</a>
          </p>
        </div>
      </article>
</body>
</html>