<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>東武9000系</title>
        <link rel="stylesheet" href="../../css/index.css">
        <script src="../../js/main.js"></script>
        <link rel="shortcut icon" href="../../asset/icon/favicon.ico" type="image/x-icon">
</head>

<body>
        <header>
                <img src="https://kamekichi110.github.io/train-share/asset/icon/main.png" class="icon">
                <h2>
                        Train-Share
                        <br>
                        鉄道情報掲載サイト
                </h2>
        </header>
        <article>
                <br>
                <section>
                        <h3>東武9000系</h3>
                        <br>
                        <img src="../img/tobu9000.png" alt="tobu9000" class="content">
                        <p>@shiro_65_1115</p>
                </section>
                <br>
                <main>
                        <p>東武9000系は主に東上線</p>
                        <p>などで活躍しています</p>
                        <p>9000系の中で有名な編成としては</p>
                        <p>運用離脱中の9101F編成</p>
                        <p>という編成があります。</p>
                        <p>9101F編成は、2023年9月現在、</p>
                        <p>森林公園研修区に留置されています。</p>
                        <p>呼ばれている車両です。</p>
                        <p>2023年9月6日には通電もしている</p>
                        <p>様子も目撃されたそうです。</p>
                </main>
                <br>
                <div class="footer">
                        <p>
                        <p id="day"></p>
                        <br>管理者X(旧Twitter)<a href="https://twitter.com/sirokuma_8110F">link</a>
                        <br>各種ツール
                        <br><a href="https://kamekichi110.github.io/train-share/view/train-info.html">列車情報ビューアー</a>
                        <a href="https://kamekichi110.github.io/train-share/photo/index.html">思い出写真</a>
                        </p>
                </div>
        </article>
</body>

</html>