/* リセットと基本的なスタイル */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f7f9;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* ボタンスタイル */
  button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* セレクトボックススタイル */
  .custom-select {
    position: relative;
    width: 200px;
  }
  
  .placeholder {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
  }
  
  .options.active {
    visibility: visible;
    opacity: 1;
  }
  
  .options li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .options li:hover {
    background-color: #f2f2f2;
  }
  
  /* オーディオプレーヤーのスタイル */
  audio {
    display: block;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }  