<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E131系</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="shortcut icon" href="../../asset/icon/favicon.ico" type="image/x-icon">
    <script src="../../js/main.js"></script>
</head>
<body>
    <header>
        <img src="https://kamekichi110.github.io/train-share/asset/icon/main.png" class="icon">
        <h2>
          Train-Share
          <br>
          鉄道情報掲載サイト
        </h2>
      </header>
      <article>
        <br>
        <section>
          <h3>E131系</h3>
          <img src="../img/e131.jpeg" alt="E131系" class="content">
          <p>@sirokuma_8110F</p>
        </section>
        <br>
        <main>
            <p>房総地区の電化路線の末端区間では<br>それまで209系2000・2100番台が<br>4両または6両編成で運用されていたが、<br>それぞれの線区・区間の利用状況に<br>合わせて柔軟に列車設定が<br>可能となるようにすること、<br>効率的なメンテナンスを行うための<br>線路設備モニタリング装置、<br>および車両状態監視保全に<br>向けた装置を短編成ながら搭載すること、<br>利用客に対して快適な車両を<br>提供することの3つの要件を<br>解決する必要があったため、<br>新形式・新造車両の導入に至った。</p>
            <p>そこで登場した車両がE131系である。</p>
        </main>
        <br>
        <div class="footer">
          <p><p id="day"></p>
            <br>管理者X(旧Twitter)<a href="https://twitter.com/sirokuma_8110F">link</a>
            <br>各種ツール
            <br><a href="https://kamekichi110.github.io/train-share/view/train-info.html">列車情報ビューアー</a>
            <a href="https://kamekichi110.github.io/train-share/photo/index.html">思い出写真</a>
          <a href="https://kamekichi110.github.io/train-share/index.html">home</a>
          </p>
        </div>
      </article>
</body>
</html>