<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E235系</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="shortcut icon" href="../../asset/icon/favicon.ico" type="image/x-icon">
    <script src="../../js/main.js"></script>
</head>
<body>
    <header>
        <img src="https://kamekichi110.github.io/train-share/asset/icon/main.png" class="icon">
        <h2>
          Train-Share
          <br>
          鉄道情報掲載サイト
        </h2>
      </header>
      <article>
        <br>
        <section>
          <h3>E235系</h3>
          <img src="../img/e235_0.jpeg" alt="E235系(1)" class="content">
          <p>上:山手線色、下:横須賀線色</p>
          <img src="../img/e235_1.jpeg" alt="E235系(2)" class="content">
          <p>@sirokuma_8110F/p>
        </section>
        <br>
        <main>
            <p>2006年から首都圏の多くの線区に<br>計3,000両以上を投入されている<br>E233系の後継車種として、<br>旅客サービスの向上、環境性能の向上、<br>さらなる安全性・安定性の向上の<br>3点を念頭に開発され</p>
            <p>山手線や横須賀線などで<br>使用されている車両です。</p>
            <p>「電子レンジ」の形にも</p>
            <p>似ているため、登場時から</p>
            <p>愛称として電子レンジとも</p>
            <p>呼ばれています。</p>
        </main>
        <br>
        <div class="footer">
          <p><p id="day"></p>
            <br>管理者X(旧Twitter)<a href="https://twitter.com/sirokuma_8110F">link</a>
            <br>各種ツール
            <br><a href="https://kamekichi110.github.io/train-share/view/train-info.html">列車情報ビューアー</a>
            <a href="https://kamekichi110.github.io/train-share/photo/index.html">思い出写真</a>
          </p>
        </div>
      </article>
</body>
</html>