<header>
    <img src="./asset/icon/main.png" class="icon">
    <h2>
      Train-Share
      <br>
      鉄道情報掲載サイト
    </h2>
  </header>
  <article>
    <br>
    <section>
      <h3>train-info</h3>
      <p>ここでは車両情報を
        <br>掲載しております。
        <br>このサイトの車両情報は
        <br>Wikipediaを参照しております。
        <br>情報に誤りがある場合は管理者の
        <br>X(旧Twitter)までお願いします。
        <br><a href="https://twitter.com/sirokuma_8110F">link!</a>
      </p>
    </section>
    <br>
    <main>
        <p>comming soon...</p>
        <p>準備中です。</p>
        <p>今しばらくお待ち下さい。</p>
    </main>
    <br>
    <div class="footer">
      <p>2023/09/08更新
        <br>管理者X(旧Twitter)<a href="https://twitter.com/sirokuma_8110F">link</a>
        <br>各種ツール
        <br><a href="./view/train-info.html">列車情報ビューアー</a>
        <a href="./photo/index.html">思い出写真</a>
      </p>
    </div>
  </article>