<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>train-info</title>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="shortcut icon" href="../asset/icon/favicon.ico" type="image/x-icon">
  <script src="../js/main.js"></script>
</head>
<body>
<header>
    <img src="../asset/icon/main.png" class="icon">
    <h2>
      Train-Share
      <br>
      鉄道情報掲載サイト
    </h2>
  </header>
  <article>
    <br>
    <section>
      <h3>train-info</h3>
      <p>ここでは車両について
        <br>掲載しております。
        <br>このサイトの車両情報は
        <br>Wikipediaを参照しております。
        <br>情報に誤りがある場合は管理者の
        <br>X(旧Twitter)までお願いします。
        <br><a href="https://twitter.com/sirokuma_8110F">link!</a>
      </p>
    </section>
    <br>
    <main>
      <h3>公開済みデータ一覧</h3>
      <hr>
      <h4>東武鉄道</h4>
      <p><a href="./tobu/tobu8000.html">東武8000系</a></p>
      <p><a href="./tobu/tobu9000.html">東武9000系</a></p>
      <p><a href="./tobu/tobu10000.html">東武10000系</a></p>
      <p><a href="./tobu/tobu60000.html">東武60000系</a></p>
      <hr>
      <h4>JR</h4>
      <p><a href="./jr/e233.html">E233系</a></p>
      <p><a href="./jr/e235.html">E235系</a></p>
      <p><a href="./jr/e131.html">E131系</a></p>
      <hr>
      <h4>東急</h4>
      <p><a href="./tokyu/tokyu8500.html">東急8500系</a></p>
      <br>
    </main>
    <br>
    <div class="footer">
      <p><p id="day"></p>
        <br>管理者X(旧Twitter)<a href="https://twitter.com/sirokuma_8110F">link</a>
        <br>各種ツール
        <br><a href="../view/train-info.html">列車情報ビューアー</a>
        <a href="../photo/index.html">思い出写真</a>
        <br>
        <a href="../index.html">home</a>
      </p>
    </div>
  </article>
  </body>
  </html>